* {
	box-sizing: border-box;
}

header {
	background: brown;
}

nav {
	background: red;
}

ul {
	background: green;
	padding-left: 0;
	font-size: 0px; /*supprime white space sur les enfant 
	en inline-block*/
}

li {
	background: yellow;
	list-style: none;
	display: inline-block;
	width: 20%;
	font-size: 1rem;
}

a {
	background: blue;
	color: white;
	display: block;
	text-align: center;
	padding: 1em 0;
}
