* {
	box-sizing: border-box;
}

.container div {
	width: 100px;
	height: 100px;
}

.container {
	width: 250px;
	background: #000;
	margin: auto;

}

.top-left {
	background: red;
}

.top-right {
	background: blue;
	
}

.bottom-left {
	background: yellow;
	position: fixed;
	bottom: 0;
	left: 0;
}

.bottom-right {
	background: green;
	
	
}

.center {
	background: violet;
	
}